.about{
    min-height: 100vh;
    margin-top: 15px;
    font-size: larger;
}
.about-details{
    background-color: #ecf0f1;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px #dcdde1;
    
}
.about-details-single{
    padding:15px;
}