.contact-btn:hover{
    background-color: rgb(240, 101, 66);
    color: white;
    border: white;
}
.view-courses-btn:hover{
    background-color: white;
    color: steelblue;
    border-color: steelblue;
}